#
# Copyright (c) 2019 PHYTEC Messtechnik GmbH
#
# SPDX-License-Identifier: Apache-2.0
#

[Unit]
Description=sensor beacon service
After=syslog.target

[Service]
Type=simple
ExecStart=/home/user/reelboard-parkour/sensor_beacon/utils/discovery
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=basic.target
